---
title: false
styles: true
---
// Override colours
// Background colours
$backgroundColour: #ffffff;
$codeBackgroundColour: #fafafa;
$featureBackgroundColour: #f9fafa;
$accentColour: #e39612; //#05bf85 !default;

// Text colours
$headingColour: #2e2824; //#242e2b !default;
$bodyColour: #39322d; //#384743 !default;
$linkColour: #e39612; //#05bf85 !default;
$hoverColour: #c26202; //#008000 !default;
$focusColour: #4794ff; //#fa407a !default;
$captionColour: #adaba8; //#a8adac !default;
$white: #ffffff;

@import "alembic";
